
.body-content .content-nav ul {
  list-style: none;

}

.body-content .content-nav ul li {
  display: inline-block;
  line-height: 30px;  
}

.body-content .content-nav ul li:first-child {
  margin-left: 30px;
  color: #aaa;
}

.body-content .content-nav ul span {
  color: #aaa;
}

.body-content .content-nav ul a {
  display: inline-block;
  margin-left: 4px;
  color: #aaa;
}

.body-content .content-nav ul a:hover {
  color: #6898c2;
}

.search-option {
  height: 87px;
  background-color: #fff;
}

.search-option form > div {
  padding-top: 15px;
  float: left;
}

.search-option label {
  color: #b7b7b7;
}

.condition-item {
  width: 180px;
}

.condition-item label {
  margin-left: 30px;
}

.condition-item select {
  width: 70px;
  margin-left: 10px;
}

.condition-object {
  width: 205px;
  position: relative;
}

.condition-object label {
}

.condition-object select {
  width: 120px;
  margin-left: 5px;
}

.condition-buyer, .condition-seller, .condition-object a {
  position: absolute;
}

.condition-object .condition-seller {
  top: 45px;
}

.condition-object a {
  display: block;
  left: 156px;
  top: 24px;
}

.condition-details {
  width: 340px;
  position: relative;
}

.condition-date, .condition-time-consuming, .condition-people-number, .condition-deal {
  position: absolute;
}

.condition-date {
  left: 20px;
}

.condition-date input {
  width: 120px;
  margin-left: 10px;
}

.condition-time-consuming {
  left: 195px;
}

.condition-time-consuming select {
  width: 71px;
  margin-left: 5px;
}

.condition-people-number {
  left: 20px;
  top: 45px;
}

.condition-people-number select {
  width: 71px;
  margin-left: 10px;
}

.condition-deal {
  left: 146px;
  top: 45px;
}

.condition-deal select {
  width: 120px;
  margin-left: 5px;
}

.search-submit {
  width: auto;
}

.zfx-input, .zfx-select {
  border: 1px solid #e1e2e2;
  height: 25px;
}

.zfx-input {
  padding-left: 5px;
}

.zfx-select {
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../images/combo_gray.png") no-repeat 95%;
  padding-left: 5px;
}

.blue-btn {
  border: none;
  background-color: #388ac1;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.blue-btn:hover {
  border: none;
  background-color: #388ac1;
  color: #f13;
}

.search-submit .search-btn {
  width: 58px;
  height: 24px;
  margin-top: 13px;
}

.search-price {
  margin: 8px 0;
}

.banner-left, .search-price-banner li, .banner-right, .search-history {
  float: left;
  margin-right: 5px;
  background-color: #fff;
  height: 65px;
}

.banner-left, .banner-right {
  width: 30px;
  padding: 24px 10px;
}

.search-price-banner li {
  width: 110px;
  /*border-top:3px solid #fff;*/
}

.search-price-banner li:first-child, .search-price-banner li:hover {
  border-top: 3px solid #4388c9;
}

.search-price-banner .time {
  color: #323333;
  font-family: "微软雅黑";
  display: inline-block;
  width: 110px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.search-price-banner .price-show {
  height: 21px;
  line-height: 21px;
  text-align: center;
}

.search-price-banner .price {
  color: #ec6500;
  font-size: 21px;
  font-family: "微软雅黑";
}

.history-icon {
  background: url(../images/history.png) no-repeat;
  padding: 12px 16px 10px 26px;
}

.search-history {
  margin-right: 0;
  width: 132px;
  text-align: center;
  line-height: 65px;
  font-family: "微软雅黑";
  color: #535353;
}

.statistical {
  margin: 9px 0;
  height: 93px;
}

.statistical .title {
  font-family: "微软雅黑";
  color: #585858;
  font-weight: bold;
  height: 20px;
}

.statistical .pic {
  width: 60px;
  height: 46px;
}

.statistical ul li {
  float: left;
  width: 200px;
  height: 70px;
  margin-right: 30px;
  background-color: #fff;
  border-left-width: 3px;
  border-left-style: solid;
  padding: 12px 0;
}

.statistical ul li:last-child {
  margin-right: 0;
}

.statistical ul li .text, .statistical ul li .pic{
  float: left;
}

.statistical ul li .text {
  text-align: center;
  width: 55px;
}

.statistical ul li .text .number {
  color: #323333;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
}

.statistical ul li .text label {
  font-size: 10px;
  color: #aaa;
}

.statistical ul li .pic{
  margin-left: 68px;
}

.green-statistical {
  border-color: #43b29d;
}

.green-statistical .pic {
  background-color: #43b29d;
}

.blue-statistical {
  border-color: #388ac1;
}

.blue-statistical .pic {
  background-color: #388ac1;
}

.red-statistical {
  border-color: #d04b36;
}

.red-statistical .pic {
  background-color: #d04b36;
}

.yellow-statistical {
  border-color: #e1cd46;
}

.yellow-statistical .pic {
  background-color: #e1cd46;
}

.project-show {
  margin: 4px 0 154px 0;
  height: 736px;
}

.project-show > div {
  margin-bottom: 8px;
  height: 357px;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  overflow: hidden;
}

.project-show > div .container-header {
  height: 42px;
  background-color: #f4f5f7;
}

.project-show > div .container-header h1 {
  line-height: 42px;
  margin-left: 20px;
  color: #bfc0c0;
  font-weight: normal;
}

.project-show > div .container-body {
  background-color: #fff;
  height: 315px;
}

.project-list {
  float: left;
  width: 531px;
}

.project-list .container-body {
  padding: 12px 20px 24px 20px;
}

.project-list .tab-container {
  position: relative;
}

.project-list .tab-title, .project-list .tab-body {
  position: absolute;
}

.project-list .tab-title {
  height: 28px;
  z-index: 31;
}

.project-list .tab-title li {
  float: left;
  margin-right: 3px;
  height: 27px;
  line-height: 27px;
  width: 86px;
  text-align: center;
  background-color: #ededf0;
  color: #535353;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  font-family: "微软雅黑", "黑体"；
}

.project-list .tab-title li:hover, .project-list .tab-title .selected {
  border: 1px solid #cbcbcb;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  height: 28px;
}

.project-list .tab-body {
  z-index: 30;
  top: 27px;
  border: 1px solid #cbcbcb;
  height: 250px;
  width: 100%;
  border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 5px;
  padding: 29px 50px 37px 37px;
}

.project-list .tab-body table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #cbcbcb;
}

.project-list .tab-body table td {
  height: 29px;
  border: 1px solid #cbcbcb;
  text-align: center;
  color: #535353;
  font-family: "宋体", "黑体";
}

.project-list .tab-body table .selected, .project-list .tab-body table td:hover {
  background-color: #ededf0;
}

.project-content {
  float: right;
  width: 350px;
}

.project-content .descript {
  width: 350px;
  padding: 10px 30px 30px 30px;
}

.project-content .descript > div {
  float: left;
}

.project-content .descript .item h4, .project-content .descript .item p {
  font-family: "微软雅黑";
  margin-left: 15px;
}

.project-content .descript .item h4{
  color: #c3c2c2;
  font-weight: normal;
  height: 22px;
  margin-top: 2px;
}

.project-content .descript .item p {
  color: #535353;
}

.project-content .title {
  width: 100%;
  height: 47px;
  border-bottom: 1px solid #ddd;
}

.project-content .price {
  width: 97px;
  border-right: 1px solid #ddd;
  height: 47px;
}

.project-content .manager {
  width: auto;
  height: 47px;
}

.project-content .detail {
  width: 100%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 147px;
  overflow: auto;
}

.project-content .submit {
  position: relative;
  height: 36px;
}

.project-content .submit input {
  position: absolute;
  top: 12px;
  left: 5px;
}

.confidentiality {
  color: #c3c2c2;
  font-family: "微软雅黑";
  display: inline-block;
  margin-left: 25px;
  height: 36px;
  line-height: 36px;
}

.project-search {
  height: 25px;
  width: 50px;
  margin-left: 134px;
}


.calendar {
  float: left;
  width: 350px;
}

.calendar .container-body {
  padding: 10px 20px 0 20px;
}

.calendar .options {
  height: 22px;
}

.calendar .options select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/combo_grey.png) no-repeat 95%;
}

.calendar .options .item {
  float: left;
  border: 1px solid #cbcbcb;
  height: 100%;
  margin-right: 5px;
  color: #535353;
}

.calendar .options .select-year {
  width: 65px;
}

.calendar .options .select-month {
  width: 46px;
  border-left: 1px solid #f5f6f7;
  border-right: 1px solid #f5f6f7;
}

.calendar .options .month > * {
  height: 100%;
}

.calendar .options .month button {
  width: 18px;
  text-align: center;
  background-color: #fff;
}

.calendar .options .select-day {
  width: 75px;

}

.calendar .options .back-btn {
  width: 65px;
  background-color: #fff;
}

.calendar-head-table {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: #535353;
  border-top: 1px solid #a9cfec;
  border-bottom: 1px solid #e1e1e1;
  border-collapse: collapse;
}

.calendar-head-table thead td {
  height: 31px;
}

.calendar-table {
  width: 100%;
  text-align: center;
  color: #323333;
}

.sunday {
  color: #f4c11c;
}

.calendar-table tbody td {
  height: 45px;
  width: 41px;
  margin: 1px;
  border: 1px solid #fff;
}

.calendar-table tbody td:hover, .calendar-table tbody .selected {
  border: 1px solid #f4c11c;
}

.calendar-table tbody td > div {
  color: #323333;
}

.weekend div:nth-child(1), .festival div:nth-child(2) {
  color: #d14c50;
}


.ranking-list {
  float: right;
  width: 531px;
}

.ranking-list .container-body {
  padding: 10px 30px 30px 30px;
}

.rank-table {
  width: 100%;
  border: 1px solid #cacbcb;
  border-collapse: collapse;
}

.rank-table td {
  border: 1px solid #cacbcb;
  height: 28px;
}

.rank-table thead td {
  font-size: 13px;
  color: #231815;
}

.rank-table tbody td, .rank-table tbody td .number {
  color: #323333;
  font-size: 12px;
  font-weight: normal;
  font-family: "黑体";
}

.rank-table tbody td .number {
  display: inline-block;
  float: left;
  width: 70px;
}

.rank-table td:nth-child(1) {
  width: 70px;
  text-align: center;
}

.rank-table td:nth-child(2) {
  width: 90px;
  text-align: center;
}

.rank-table thead td:nth-child(3) {
  padding-left: 30px;
}

.rank-table tbody td:nth-child(3) {
  width: auto;
  padding-left: 35px;
}

.progress-bar {
  width: 169px;
  height: 4px;
  background-color: #dcdcdc;
  display: inline-block;
  margin-top: 5px;
  float: left;
}

.progress-bar .current {
  height: 100%;
}

.rank-table tbody tr:hover, .rank-table tbody .selected {
  background-color: #f4f6f7;
}

.rank-table tbody tr:nth-child(1) .current {
  width: 90%;
  background-color: #ed6e52;
}

.rank-table tbody tr:nth-child(2) .current {
  width: 80%;
  background-color: #ef8150;
}

.rank-table tbody tr:nth-child(3) .current {
  width: 60%;
  background-color: #f19e4f;
}

.rank-table tbody tr:nth-child(4) .current {
  width: 50%;
  background-color: #7fcbf0;
}

.rank-table tbody tr:nth-child(5) .current {
  width: 40%;
  background-color: #87cef1;
}

.rank-table tbody tr:nth-child(6) .current {
  width: 35%;
  background-color: #7ecaef;
}

.rank-table tbody tr:nth-child(7) .current {
  width: 33%;
  background-color: #7ecaf0;
}

.rank-table tbody tr:nth-child(8) .current {
  width: 30%;
  background-color: #7ecaf0;
}

.rank-table tbody tr:nth-child(9) .current {
  width: 28%;
  background-color: #7ecaf0;
}
