html, body, div , input, img, a, span, input, h1, h2, h3, i, ul, li, select, button, label, option, form {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "黑体";
  text-decoration: none;
  outline:none;
  list-style: none;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  min-width: 1280px;
}

.header {
  width: 100%;
  height: 56px;
  background-color: #228abf;
  position: relative;
}

.header .main-header {
}

.main-header, .body {
  width: 1280px;
  margin: 0 auto;
}

.body {
  background-color: #2a2e3d;
}

.body-aside {
  float: left;
  width: 260px;
  position: relative;
}

.body-content {
  float: right;
  background-color: #eeeeed;
  width: 1020px;
}

.body-aside .content {
  height: 149px;
}

.body-aside .menu {

}

.body-content .content-nav {
  height: 30px;
  background-color: #fff;
  position: relative;
}

.body-content .content-body {
  width: auto;
  margin: 19px 69px 0 59px;
}