* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  *zoom: 1;
}

h1 {
  font-size: 28px;
  margin-bottom: 28px;
}

h2 {
  font-size: 22px;
  margin-bottom: 22px;
}

h3 {
  font-size: 16px;
  margin-bottom: 16px;
}

p {
  font-size: 14px;
  padding-bottom: 14px;
}

.middle {
  width: 100%;
}

.main-layout {
  margin: 20px;
  padding: 20px;
  background-color: #999;
  border: 1px solid #eee;
}

.left-layout img {
  margin: 20px;
  border: 1px solid #eee;
  height: 80px;
  width: 80px;
}

.left-layout strong {
  width: 80px;
  text-align: center;
}

.left-layout {
  margin-left: -100%;
  width: 200px;
}

.middle-layout {
  margin-left: 220px;
  margin-right: 140px;
}

.right-layout {
  margin-left: -120px;
  width: 120px;
}

.right-layout img {
  display: block;
  height: 80px;
  width: 80px;
  margin: 20px;
  margin-bottom: 20px;
  border: 1px solid #999;
}

.box {
  background-color: #fff;
  border: 1px solid #eee;
}

.middle, .left-layout, .right-layout {
  float: left;
}